.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 100px;
}
.hight {
   display: flex;
   justify-content: space-around;
   width: 100%;
   margin: auto;
   padding: 14px;
   background: -webkit-linear-gradient(0deg, #8490ff  0%, #62bdfc 100%);
}
.down {
   width: 100%;
   margin: auto;
   padding: 20px;
   background: -webkit-linear-gradient(0deg, #62bdfc  0%, #8490ff 100%);
}
.section1 {
   display: flex;
align-items: center;
}
.section2 {
   display: flex;
   align-items: center;
}
.ris1 {
   width: 500px;
  }
.ris2 {
   width: 400px;
  }
.hight-ris {
   width: 40px;
}
.info {
   margin-left: 270px;
}
.info2 {
   margin-right: 120px;
}
.tx {
   font-size: 14px;
   font-family: sans-serif;
   text-align: justify
  }
.tx1 {
   font-size: 14px;
   font-family: sans-serif;
   text-align: justify   
  }
.tx2 {
   font-size: 10px;
   color: white;
   font-family: sans-serif;
   text-align: center;
  }
.name {
   font-size: 38px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: #302f2f;
}
.name1 {
   font-size: 20px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: #302f2f;
}
.bot {
   color: #fff;
   line-height: 42px;
   padding-left: 30px;
   padding-right: 30px;
   border: none;
   background: -webkit-linear-gradient(0deg, #8490ff  0%, #62bdfc 100%);
   cursor: pointer;
}
#more {
   display: none;
}
